<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Определение параметров сварного шва</title>
</head>
<body>

    <h1>Введите параметры сварки</h1>
    <form action="" method="post">
        <p>
            <label for="IW">IW - величина сварочного тока</label>
            <input type="text" name="IW">
        </p>
        <p>
            <label>IF - ток фокусировки электронного пучка</label>
            <input type="text" name="IF">
        </p>
        <p>
            <label>VW - скорость сварки</label>
            <input type="text" name="VW">
        </p>
        <p>
            <label>FP - расстояние от поверхности образцов до электронно-оптической системы</label>
            <input type="text" name="FP">
        </p>
        <p><input type="submit"></p>


    </form>



</body>
</html>